PORT=4000
FRONTEND_URL=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017/massive-designs

SMTP_HOST=massive-designs.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=hello@massive-designs.com
SMTP_PASS=

MAIL_FROM_NAME=Massive Designs
MAIL_FROM_EMAIL=hello@massive-designs.com
MAIL_TO_EMAIL=info@massive-designs.com

RECAPTCHA_SECRET_KEY=

GOOGLE_PAGESPEED_API_KEY=
